<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body>
    <header>About Us</header>
    <%= link_to 'Home', root_path %>

    <section>
      <h1>Who Are We?</h1>
      <p>We are mochi lovers! We show case the best looking or tasting mochi
      all over the web. Join our army!</p>
      <img src="https://s-media-cache-ak0.pinimg.com/564x/e9/cf/4e/e9cf4edc727c3a7dd143a40a33672df1.jpg" alt="mochi picture">
    </section>
    <footer>
      <p>Made by Kai &copy2017; </p>
    </footer>
  </body>
</html>
